/* filepath: /d:/kalaa/kalaa-1.0.0/src/components/Home.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 70vw;
  }

.text-center {
  text-align: center;
}